.calculator{
    background: linear-gradient(45deg, #0a0a0a, #3a4452);
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    display: grid;
    align-items: center;
    justify-content: center;
    margin-top: 300px;
    border: 5px solid rgb(185, 182, 182);
    padding:100px;
    width: 100px;
    margin-left: 800px;
    border-radius: 20%;
}
h1,h2{
    color:white
}
h1:hover{
    color:red;
    transition-delay: 0s;
    transition-duration: 3s;
}
body{
    background-image: url(calc.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#result{
    height: 30px;
    background-color: black;
    color: solid black;
    font-size: large;
}

table,tr{
    padding-right:50px;
}
button{
    font-size: xx-large;
    border-radius: 50%;
    width:50px
}
button:hover{
    transition-delay: 0s;
    transition-duration: 0s;
    background-color: royalblue;
}